:root {
    --darkgray: #2F303A;
    --blue: #2196F3;
    --black: #212121;
    --semi-white: #EEEEEE;
    --gray: #757575;
    --icons-color: #AFB1B8;
    --shadow: #00000024;
    --light-shadow: #ada9a93d;
    --lightgray: #F5F4FA;
    --white: #ffffff;
    --border-color: #ECECEC;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
}
* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
  }

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*Body section styling- first page */
.body {
    font-family: var(--primary-font);
    background-color: var(--white);
}

/* Header section style */
.header {
    display: flex;
    border-bottom: 1px solid var(--border-color);
    flex-wrap: nowrap;
    border-top: none;
    border-left: none;
    border-right: none;
    justify-content: space-around;
    padding-top: 32px;
    padding-bottom: 32px;
    height: 80px;
}

.header__logo {
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    padding-left: 40px;
}

.first_list_header {
    display: inline-block;
    list-style: none;
    gap: 20px;
    margin-left: -40px;
    font-weight: 500;
}

.header_info {
    list-style: none;
    font-size: 14px;
    display: flex;
    gap: 40px;
    font-weight: 500;
}

.header_info a{
    color: var(--gray);
}

.svg_header {
    vertical-align: middle;
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.studio {
    color: var(--blue);
 }

.header__logo__web {
    color: var(--blue);
    padding-left: 30px;
}

.first_list_header {
display: flex;
}


.header_info a:hover {
    fill: var(--blue);
    stroke: var(--blue);
}

.header_info a:focus {
    fill: var(--blue);
    stroke: var(--blue);
}

a {
    color: var(--black);
    text-decoration: none;
}

a:hover{
    color: var(--blue);
}

a:focus{
    color: var(--blue);
}

/* Portiunea principala a paginii */
.title {
    font-size: 44px;
    text-align: center;
    background-image: linear-gradient(#00000020, #2f303a40),
    url(../images/hero-section-bg-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    line-height: 1.5;
    letter-spacing: 2px;
    color: var(--white);
    text-shadow: 2px 2px 2px var(--black);
    padding-top: 182px;
    padding-bottom: 280px;
    margin-top: -94px;
}

.button {
    font-size: 16px;
    background-color: var(--blue);
    color: var(--white);
    line-height: 2;
    border-radius: 10px;
    border-color: var(--blue);
    padding: 20px 10px;
    letter-spacing: 2px;
    margin-top: 30px;
    cursor: pointer;
  }

.button:hover {
    color: var(--black);
  }

  /* Hero-section */
.hero__section {
    display: flex;
    justify-content: center;
}

.hero__section__svg {
    width: 70px;
    height: 70px;
}

.hero__section__background {
    text-align: center;
    background-color: var(--lightgray);
    width: 230px;
    height: 120px;
    margin-bottom: 30px;
    padding-top: 25px;
}
  
.hero__section__title {
    font-size: 14px;
    font-weight: 700;
    font-family: Roboto;
    line-height: 16.41px;
    letter-spacing: 0.03em;
 } 

 .hero__section__container {
    width: 270px;
 }

 .hero__section__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 10px;
    color: var(--gray); 
}


/* What we do section */
.what__we__do__images {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: -94px;
}
.what__we__do__title {
    font-size: 36px;
    text-align: center;
    text-shadow: 2px 2px 2px var(--shadow);
    margin-top: -94px;
}


/* Our team section */

.our__team {
    background-color: var(--lightgray);
    margin-left: -32px;
    margin-right: -32px;
    padding-bottom: 86px;
    padding-top: 92px;
    margin-bottom: -94px;
}

.our__team__members {
    display: flex;
    flex: 1;
    gap: 30px;
    justify-content: center;
    height: 428px;
}

.team__social__list {
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: center;
    padding-bottom: 30px;
}


.team__social__item:hover {
    background-color: var(--blue);
}

.team__social__item:focus {
    background-color: var(--blue);
}

.team__social__icon {
    fill: var(--icons-color);
    padding: 11px 11px;
    height: 44px;
}

.team__social__item {
    width:44px;
    height: 44px;
    background-color: var(--white);
    border-radius: 100px;
}

.our__team__title {
    font-size: 36px;
    text-align: center;
    text-shadow: 2px 2px 2px var(--shadow);
    padding-bottom: 50px;
}

.containers {
    border-radius: 5px;
    background-color: var(--white);
    box-shadow: 1px 2px 1px var(--shadow);
    width: 240px;
}

.container__title {
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    line-height: 18.75px;
    color: var(--black);
    margin-top: 30px;
    margin-bottom: 10px;
    }
    
.container__subtitle {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 18.75px;
    color: var(--gray);
    margin-bottom: 30px;
    }

    /* Our regular customers section */
.regular__customers {
    font-size: 36px;
    text-align: center;
    padding-top: 94px;
}

.regular__customers__item {
   border: 1px solid var(--gray);
   border-radius: 4px;
   padding: 23px 60px;
   width: 170px;
   height: 92px;
}

.regular__customers__list  {
    display: flex;
    gap: 25px;
    list-style: none;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 94px;
}

.regular__customers__item:hover {
    border: 3px solid var(--blue);
    fill: var(--blue);
    stroke: var(--blue);
}

.regular__customers__item:focus {
    border: 3px solid var(--blue);
    fill: var(--blue);
    stroke: var(--blue);
}

.icon__regular__customers {
    height: 44px;
    fill: var(--icons-color);
}

    /* Footer section */
.footer {
    display: flex;
    background-color: var(--darkgray);
    margin-top: -94px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    gap: 70px;
}
.footer__container {
    padding-bottom: 28px;
}
#footer__logo {
    font-family:var(--secondary-font);
    font-size: 26px;
    color: var(--white);
}

#footer__logo:hover {
    color: var(--blue);
}
    
.footer__logo__web {
    font-family: inherit;
    color: var(--blue);
    line-height: normal;
}

.footer__address a {
    display: inline-block;
    padding-bottom: 10px;
    color: var(--gray);
    font-style: normal;
}

.footer__social__title {
    color: var(--white);
    font-size: 14px;
    padding-bottom: 20px;
    padding-top: 10px;
}

.footer__social__list {
    list-style: none;
    display: flex;
    gap: 10px;
}

.footer__social__list>.footer__social__item {
    background-color: var(--light-shadow);
    border-radius: 100px;
}

.footer__social__icon {
    padding: 11px 11px;
    fill: var(--white);
    stroke: var(--white);
    height: 44px;
}

.footer__social__list>.footer__social__item:hover {
    background-color: var(--blue);
}

.footer__social__item {
    width:44px;
    height: 44px;
}


/* Second page styling */
.second__list {
    color: var(--blue);
}

/* Portiunea principala a paginii */
.selection {
    text-align: center;
    border: var(--blue);
}


.selection>button {
    font-weight: 500;
    font-size: 16px;
    color: var(--black);
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    margin-bottom: 50px;
    border-radius: 4px;
    font-family: inherit;
}

.selection>button:hover {
    background-color: var(--blue);
    color: var(--white);
    border: none;
    box-shadow: 2px 2px 2px var(--gray);
    cursor: pointer;
  }

.selection>button:focus {
    background-color: var(--blue);
    color: var(--white);
    border: none;
    box-shadow: 2px 2px 2px var(--gray);
    cursor: pointer;
  }

  /*Container cu carduri despre proiectele realizate*/

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 94px;
    flex-wrap: wrap;
}

.container__portofolio {
    display: flex;
    flex-direction: column;
    gap: 4px;
    border-radius: 5px;
    background-color: var(--white); 
}

.container__portofolio:hover{
    -webkit-box-shadow: 10px 11px 17px -6px rgba(115,115,115,1);
-moz-box-shadow: 10px 11px 17px -6px rgba(115,115,115,1);
box-shadow: 10px 11px 17px -6px rgba(115,115,115,1);
}

.container__portofolio>img {
    margin-bottom: 20px;
}
.card__title {
    font-size: 18px;
    padding-bottom: 24px;
}

.cards__subtitle {
    font-size: 16px;
    color: var(--gray);
    padding-bottom: 20px;
}

.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
  }

.section {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  a[href*="https://www.mapquest.com/us/ny/new-york/10065-5024/695-park-ave-40.76874,-73.96518"] {
    color: var(--white);
  }